In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
words = pd.read_csv('words.csv')
words.head()

       words
0        the
1    project
2  gutenberg
3      ebook
4         of

In [51]:
n_q = words.nunique()
n_q.head

<bound method NDFrame.head of words      17144
Indexes       10
dtype: int64>

In [5]:
words.shape

(222148, 1)

In [66]:
words[words['words'].duplicated()]

         words  Indexes
8          the       -1
14       ebook       -1
17         the       -1
19          of       -1
28          no       -1
...        ...      ...
222143      to       -1
222144    hear       -1
222145   about       -1
222146     new       -1
222147  ebooks       -1

[205004 rows x 2 columns]

In [9]:
from collections import Counter
Counter(" ".join(words["words"]).split()).most_common(5)

[('the', 14715), ('of', 6742), ('and', 6517), ('a', 4805), ('to', 4707)]

In [31]:
dataFrameOut = words[words['words'].str.match('q')]
dataFrameOut

            words  Indexes
209         queen        0
226       quarter        0
569      queequeg        0
601      quadrant        0
780         queer        0
...           ...      ...
216432   queequeg        0
216462      quick        0
216832   queequeg        0
218221  quivering        0
218255  quiescent        0

[727 rows x 2 columns]

In [69]:
del words
del n_q
del dataFrameOut